.Movie_Page {
    color: #fff;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 2rem auto;
}

.Movie_Page svg {
    font-size: 1.5rem;
    color: #a685ff
}

.Movie_Page .movie_card{
    text-align: center;
}

.Movie_Page .movie_card img,
.Movie_Page .movie_card h2,
.Movie_Page .movie_card p {
    margin-bottom: 1rem;
}

.Movie_Page .movie_card h2{
    font-size: 2rem;
}

.Movie_Page .movie_card p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
}

.tagline {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 2rem; 
}

.info {
    margin-bottom: 1.5rem;
}

.info h3 {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.description {
    padding-bottom: 5rem;
}

.description p {
    line-height: 1.4rem;
}